In [1]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in c:\users\nise_\onedrive\documentos\digital college\python\da_18\streaming\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\nise_\onedrive\documentos\digital college\python\da_18\streaming\.venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nise_\onedrive\documentos\digital college\python\da_18\streaming\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nise_\onedrive\documentos\digital college\python\da_18\streaming\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nise_\onedrive\documentos\digital college\python\da_18\streaming\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\nise_\onedrive\documentos\digital college\python\da_18\streaming\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\nise_\onedrive\documentos\digital college\python\da_18\streaming\.venv\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import re
from collections import Counter

In [3]:
df_prime = pd.read_csv("C:/Users/nise_/OneDrive/Documentos/Digital College/Python/DA_18/streaming/Dados/data_prime_video.csv")

In [4]:
df_prime

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19960.0,NaN
1,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2381047.0,NaN
2,Citizen Kane,movie,"Drama, Mystery",1941.0,tt0033467,8.3,481447.0,NaN
3,Dancer in the Dark,movie,"Crime, Drama, Musical",2000.0,tt0168629,7.9,120724.0,NaN
4,The Dark,movie,"Drama, Fantasy, Horror",2005.0,tt0411267,5.3,11685.0,NaN
...,...,...,...,...,...,...,...,...
73146,NaN,tv,NaN,2023.0,NaN,NaN,NaN,NaN
73147,Tranquilo Pap√°,tv,Comedy,2017.0,tt7122438,5.6,21.0,NaN
73148,NaN,tv,NaN,2021.0,NaN,NaN,NaN,NaN
73149,Murder Drones,tv,"Action, Adventure, Animation",2021.0,tt15599734,7.8,3994.0,NaN
73150,NaN,tv,NaN,2015.0,NaN,NaN,NaN,NaN

In [5]:
df_prime.describe()

        releaseYear  imdbAverageRating  imdbNumVotes
count  72943.000000       63949.000000  6.394900e+04
mean    2007.721111           5.952558  1.292447e+04
std       18.989614           1.372682  7.423526e+04
min     1902.000000           1.000000  5.000000e+00
25%     2004.000000           5.100000  9.800000e+01
50%     2015.000000           6.100000  4.350000e+02
75%     2020.000000           7.000000  2.286000e+03
max     2027.000000          10.000000  3.046940e+06

In [6]:
df_prime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73151 entries, 0 to 73150
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               71372 non-null  object
 1   type                73151 non-null  object
 2   genres              70910 non-null  object
 3   releaseYear         72943 non-null  float64
 4   imdbId              66262 non-null  object
 5   imdbAverageRating   63949 non-null  float64
 6   imdbNumVotes        63949 non-null  float64
 7   availableCountries  282 non-null    object
dtypes: float64(3), object(5)
memory usage: 4.5+ MB

In [7]:
df_prime.duplicated().sum()

np.int64(1221)

In [8]:
# Verificar colunas com valores duplicados
for col in df_prime.columns:
    num_dups = df_prime.duplicated(subset=[col]).sum()
    if num_dups > 0:
        print(f"Coluna '{col}' possui {num_dups} valores duplicados.")

Coluna 'title' possui 7161 valores duplicados.
Coluna 'type' possui 73149 valores duplicados.
Coluna 'genres' possui 71641 valores duplicados.
Coluna 'releaseYear' possui 73031 valores duplicados.
Coluna 'imdbId' possui 6917 valores duplicados.
Coluna 'imdbAverageRating' possui 73059 valores duplicados.
Coluna 'imdbNumVotes' possui 59290 valores duplicados.
Coluna 'availableCountries' possui 73063 valores duplicados.

In [9]:
df_prime.drop_duplicates()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19960.0,NaN
1,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2381047.0,NaN
2,Citizen Kane,movie,"Drama, Mystery",1941.0,tt0033467,8.3,481447.0,NaN
3,Dancer in the Dark,movie,"Crime, Drama, Musical",2000.0,tt0168629,7.9,120724.0,NaN
4,The Dark,movie,"Drama, Fantasy, Horror",2005.0,tt0411267,5.3,11685.0,NaN
...,...,...,...,...,...,...,...,...
73142,The Way Out Germany,tv,"Action, Comedy, Game-Show",2025.0,tt34280771,7.3,66.0,NaN
73143,NaN,tv,"Animation, Crime, Mystery",1996.0,NaN,NaN,NaN,NaN
73144,Formula E: Driver,tv,"Documentary, Sport",2025.0,tt36674331,6.9,31.0,NaN
73147,Tranquilo Pap√°,tv,Comedy,2017.0,tt7122438,5.6,21.0,NaN
73149,Murder Drones,tv,"Action, Adventure, Animation",2021.0,tt15599734,7.8,3994.0,NaN

In [10]:
df_prime.isnull().sum()

title                  1779
type                      0
genres                 2241
releaseYear             208
imdbId                 6889
imdbAverageRating      9202
imdbNumVotes           9202
availableCountries    72869
dtype: int64

In [11]:
df_prime.dropna(subset=['title'])

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19960.0,NaN
1,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2381047.0,NaN
2,Citizen Kane,movie,"Drama, Mystery",1941.0,tt0033467,8.3,481447.0,NaN
3,Dancer in the Dark,movie,"Crime, Drama, Musical",2000.0,tt0168629,7.9,120724.0,NaN
4,The Dark,movie,"Drama, Fantasy, Horror",2005.0,tt0411267,5.3,11685.0,NaN
...,...,...,...,...,...,...,...,...
73141,Barbie Dream Besties,tv,Fantasy,2024.0,tt33456563,6.8,18.0,NaN
73142,The Way Out Germany,tv,"Action, Comedy, Game-Show",2025.0,tt34280771,7.3,66.0,NaN
73144,Formula E: Driver,tv,"Documentary, Sport",2025.0,tt36674331,6.9,31.0,NaN
73147,Tranquilo Pap√°,tv,Comedy,2017.0,tt7122438,5.6,21.0,NaN
73149,Murder Drones,tv,"Action, Adventure, Animation",2021.0,tt15599734,7.8,3994.0,NaN

In [12]:
#preencher os NaN de genres com "N√£o informado"
df_prime['genres'] = df_prime['genres'].fillna('N√£o informado')

In [13]:
# os NaN em imdbId e imdbAverageRating podem ser um problema se for analisar a avalia√ß√£o dos filmes, ent√£o preciso ver se o NaN em um coincide com NaN na outra

# Investigar a situa√ß√£o dos NaN
print("Registros sem imdbId:", df_prime['imdbId'].isna().sum())
print("Registros sem rating:", df_prime['imdbAverageRating'].isna().sum())

# Ver se NaN em imdbId implica em NaN em rating
mask_sem_id = df_prime['imdbId'].isna()
print("Dos que n√£o t√™m ID, quantos tamb√©m n√£o t√™m rating:", 
      df_prime[mask_sem_id]['imdbAverageRating'].isna().sum())

Registros sem imdbId: 6889
Registros sem rating: 9202
Dos que n√£o t√™m ID, quantos tamb√©m n√£o t√™m rating: 6889

In [14]:
# Investigar os casos com ID mas sem avalia√ß√£o
tem_id_sem_rating = df_prime['imdbId'].notna() & df_prime['imdbAverageRating'].isna()
print("Registros com ID mas sem avalia√ß√£o:", tem_id_sem_rating.sum())

# Ver alguns exemplos desses casos
print("\nExemplos de conte√∫do com ID mas sem avalia√ß√£o:")
exemplos = df_prime[tem_id_sem_rating][['title', 'imdbId', 'releaseYear']].head()
print(exemplos)

Registros com ID mas sem avalia√ß√£o: 2313

Exemplos de conte√∫do com ID mas sem avalia√ß√£o:
             title      imdbId  releaseYear
1316        Rounds   tt8504330       2007.0
3278      Realtime   tt2333982       2007.0
9047   Becoming 13  tt10418724       2006.0
9067  Kokumon Gate  tt13174762       2019.0
9175      Goldfish  tt27432183       2023.0

In [15]:
#preencher os NaN de imdbid com "N√£o informado"
df_prime['imdbId'] = df_prime['imdbId'].fillna('N√£o informado')

In [16]:
def impute_ratings_by_genre_decade(df_prime):
    """
    Imputa valores NaN de imdbAverageRating usando mediana por g√™nero prim√°rio + d√©cada
    
    Args:
        df: DataFrame com colunas 'genres', 'releaseYear', 'imdbAverageRating'
    
    Returns:
        DataFrame com ratings imputados e colunas adicionais para rastreamento
    """
    # Extrair g√™nero prim√°rio (primeiro da lista)
    df_prime['primaryGenre'] = df_prime['genres'].fillna('Unknown').str.split(',').str[0].str.strip()

    # Extrair d√©cada
    df_prime['decade'] = (df_prime['releaseYear'] // 10) * 10

    # Flag para indicar se tinha rating original
    df_prime['hasOriginalRating'] = df_prime['imdbAverageRating'].notna()

    # Calcular medianas por g√™nero + d√©cada (apenas filmes COM rating)
    films_with_rating = df_prime[df_prime['hasOriginalRating']]
    
    medians_genre_decade = (films_with_rating.groupby(['primaryGenre', 'decade'])['imdbAverageRating'].agg(['median', 'count']).reset_index())

    # Calcular medianas s√≥ por g√™nero (fallback)
    medians_genre = (films_with_rating.groupby('primaryGenre')['imdbAverageRating'].median().reset_index())
    
    # Mediana global (√∫ltimo recurso)
    global_median = films_with_rating['imdbAverageRating'].median()

    # Fun√ß√£o aninhada para imputar um filme espec√≠fico
    def impute_single_film(row):
        if row['hasOriginalRating']:
            return pd.Series({
                'imdbAverageRating': row['imdbAverageRating'],
                'ratingImputed': False,
                'imputationSource': 'original'
            })
        
        # Tentar g√™nero + d√©cada primeiro
        genre_decade_match = medians_genre_decade[
            (medians_genre_decade['primaryGenre'] == row['primaryGenre']) & 
            (medians_genre_decade['decade'] == row['decade'])
        ]
        
        if not genre_decade_match.empty:
            median_val = genre_decade_match.iloc[0]['median']
            count = genre_decade_match.iloc[0]['count']
            return pd.Series({
                'imdbAverageRating': median_val,
                'ratingImputed': True,
                'imputationSource': f"{row['primaryGenre']} {int(row['decade'])}s ({count} filmes)"
            })
        
        # Fallback: s√≥ g√™nero
        genre_match = medians_genre[medians_genre['primaryGenre'] == row['primaryGenre']]
        
        if not genre_match.empty:
            median_val = genre_match.iloc[0]['imdbAverageRating']
            return pd.Series({
                'imdbAverageRating': median_val,
                'ratingImputed': True,
                'imputationSource': f"{row['primaryGenre']} geral"
            })
        
        # √öltimo recurso: mediana global
        return pd.Series({
            'imdbAverageRating': global_median,
            'ratingImputed': True,
            'imputationSource': "mediana global"
        })

    # Aplicar imputa√ß√£o
    imputation_results = df_prime.apply(impute_single_film, axis=1)

    # Combinar resultados
    df_prime['imdbAverageRating'] = imputation_results['imdbAverageRating']
    df_prime['ratingImputed'] = imputation_results['ratingImputed']
    df_prime['imputationSource'] = imputation_results['imputationSource']

    return df_prime, medians_genre_decade, global_median

In [17]:
# APLICAR A IMPUTA√á√ÉO
df_imputed, medians_table, global_median = impute_ratings_by_genre_decade(df_prime)

In [18]:
imputed_count = df_imputed['ratingImputed'].sum()
print(f"Valores imputados: {imputed_count}")

Valores imputados: 9202

In [19]:
# Mostrar alguns exemplos organizados
for i, (_, filme) in enumerate(df_imputed.head(8).iterrows()):
    print(f"{i+1:2d}. \"{filme['title']}\" ({int(filme['releaseYear'])})")
    print(f"    G√™nero: {filme['primaryGenre']}")
    print(f"    Avalia√ß√£o imputada: {filme['imdbAverageRating']:.1f}")
    print(f"    Fonte: {filme['imputationSource']}")
    print()

 1. "Judgment Night" (1993)
    G√™nero: Action
    Avalia√ß√£o imputada: 6.6
    Fonte: original

 2. "Forrest Gump" (1994)
    G√™nero: Drama
    Avalia√ß√£o imputada: 8.8
    Fonte: original

 3. "Citizen Kane" (1941)
    G√™nero: Drama
    Avalia√ß√£o imputada: 8.3
    Fonte: original

 4. "Dancer in the Dark" (2000)
    G√™nero: Crime
    Avalia√ß√£o imputada: 7.9
    Fonte: original

 5. "The Dark" (2005)
    G√™nero: Drama
    Avalia√ß√£o imputada: 5.3
    Fonte: original

 6. "Metropolis" (1927)
    G√™nero: Drama
    Avalia√ß√£o imputada: 8.3
    Fonte: original

 7. "My Life Without Me" (2003)
    G√™nero: Drama
    Avalia√ß√£o imputada: 7.4
    Fonte: original

 8. "The Endless Summer" (1966)
    G√™nero: Documentary
    Avalia√ß√£o imputada: 7.6
    Fonte: original

In [20]:
# Axis 1 para colunas, axis 0 para linhas
df_prime = df_prime.drop(['availableCountries'], axis=1)

In [21]:
df_prime.isnull().sum()

title                1779
type                    0
genres                  0
releaseYear           208
imdbId                  0
imdbAverageRating       0
imdbNumVotes         9202
primaryGenre            0
decade                208
hasOriginalRating       0
ratingImputed           0
imputationSource        0
dtype: int64

In [22]:
# Ver quais s√£o os filmes problem√°ticos
nulls_year = df_prime[df_prime['releaseYear'].isna()]
print(nulls_year[['title', 'type', 'genres', 'imdbId', 'imdbAverageRating']])

                                  title   type         genres         imdbId  \
28421                          Stranded  movie  N√£o informado  N√£o informado
35285  Paul Morrissey: A Real Humdinger  movie  N√£o informado  N√£o informado
35543      Moody McCarthy: The Good Jew  movie  N√£o informado  N√£o informado
35820  Keith Barany: Dude... Seriously?  movie  N√£o informado  N√£o informado
36107                 Scott Losse: Okay  movie  N√£o informado  N√£o informado
...                                 ...    ...            ...            ...
73026                               NaN     tv          Crime  N√£o informado
73083                               NaN     tv  N√£o informado  N√£o informado
73108                               NaN     tv  N√£o informado  N√£o informado
73110                               NaN     tv  N√£o informado  N√£o informado
73138                               NaN     tv  N√£o informado  N√£o informado

       imdbAverageRating
28421               6.35
35285               6.35
35543               6.35
35820               6.35
36107               6.35
...                  ...
73026               6.20
73083               6.35
73108               6.35
73110               6.35
73138               6.35

[208 rows x 5 columns]

In [23]:
df_prime = df_prime.dropna(subset=['releaseYear'])

In [24]:
df_prime['releaseYear'] = df_prime['releaseYear'].astype(int)

In [25]:
# TRATAR imdbNumVotes para filmes imputados
print("üîß TRATANDO imdbNumVotes PARA FILMES IMPUTADOS")
print("=" * 50)

# Para filmes com rating imputado, vamos usar a mediana de votos do mesmo g√™nero/d√©cada
films_with_votes = df_prime[df_prime['imdbNumVotes'].notna()]

# Calcular mediana de votos por g√™nero prim√°rio
median_votes_by_genre = (films_with_votes
                        .groupby('primaryGenre')['imdbNumVotes']
                        .median()
                        .to_dict())

# Mediana global como fallback
global_median_votes = films_with_votes['imdbNumVotes'].median()

# Fun√ß√£o para imputar votos
def impute_votes(row):
    if pd.notna(row['imdbNumVotes']):
        return row['imdbNumVotes']
    
    # Se tem rating imputado, usar mediana do g√™nero
    if row['ratingImputed']:
        genre_median = median_votes_by_genre.get(row['primaryGenre'])
        if genre_median:
            return genre_median
        else:
            return global_median_votes
    
    return row['imdbNumVotes']

üîß TRATANDO imdbNumVotes PARA FILMES IMPUTADOS
==================================================

In [26]:
# Aplicar imputa√ß√£o de votos
df_prime['imdbNumVotes'] = df_prime.apply(impute_votes, axis=1)

In [27]:
df_prime.isnull().sum()

title                1663
type                    0
genres                  0
releaseYear             0
imdbId                  0
imdbAverageRating       0
imdbNumVotes            0
primaryGenre            0
decade                  0
hasOriginalRating       0
ratingImputed           0
imputationSource        0
dtype: int64

In [28]:
df_prime['imdbNumVotes'] = df_prime['imdbNumVotes'].astype(int)
# Verificar se a convers√£o foi bem-sucedida
print(df_prime.dtypes)

title                 object
type                  object
genres                object
releaseYear            int64
imdbId                object
imdbAverageRating    float64
imdbNumVotes           int64
primaryGenre          object
decade               float64
hasOriginalRating       bool
ratingImputed           bool
imputationSource      object
dtype: object

In [29]:
# CRIAR DATASET LIMPO (apenas colunas essenciais) e removendo as colunas criadas para o tratamento
print(f"\nüìÇ CRIANDO DATASET LIMPO")
print("=" * 30)

colunas_essenciais = [
    'title', 
    'type', 
    'genres', 
    'releaseYear', 
    'imdbId', 
    'imdbAverageRating', 
    'imdbNumVotes'
]

df_prime_clean = df_prime[colunas_essenciais].copy()

print(f"Forma final do dataset: {df_prime_clean.shape}")
print(f"Colunas finais: {list(df_prime_clean.columns)}")

üìÇ CRIANDO DATASET LIMPO
==============================
Forma final do dataset: (72943, 7)
Colunas finais: ['title', 'type', 'genres', 'releaseYear', 'imdbId', 'imdbAverageRating', 'imdbNumVotes']

In [30]:
# VERIFICA√á√ÉO FINAL
print(f"\n‚úÖ VERIFICA√á√ÉO FINAL")
print("=" * 35)

print("Valores nulos por coluna:")
print(df_prime_clean.isnull().sum())

print(f"\nTipos de dados:")
print(df_prime_clean.dtypes)

‚úÖ VERIFICA√á√ÉO FINAL
===================================
Valores nulos por coluna:
title                1663
type                    0
genres                  0
releaseYear             0
imdbId                  0
imdbAverageRating       0
imdbNumVotes            0
dtype: int64

Tipos de dados:
title                 object
type                  object
genres                object
releaseYear            int64
imdbId                object
imdbAverageRating    float64
imdbNumVotes           int64
dtype: object

# ========Explora√ß√£o Tipo e G√™nero ===========

In [31]:
tipos_unicos = df_prime_clean['type'].unique()
print("Tipos √∫nicos na coluna 'type':", tipos_unicos)

Tipos √∫nicos na coluna 'type': ['movie' 'tv']

In [32]:
# Contando quantas produ√ß√µes existem de cada tipo
contagem_tipos = df_prime_clean['type'].value_counts()
print(f"\nDistribui√ß√£o por tipo:")
for tipo, quantidade in contagem_tipos.items():
    percentual = (quantidade / len(df_prime_clean)) * 100
    print(f"{tipo}: {quantidade} produ√ß√µes ({percentual:.1f}%)")

Distribui√ß√£o por tipo:
movie: 63416 produ√ß√µes (86.9%)
tv: 9527 produ√ß√µes (13.1%)

In [33]:
# EXPLORANDO OS PADR√ïES DOS GENRES
print("\nPADR√ïES E ESTRUTURA DOS GENRES")
# Amostras aleat√≥rias para entender o formato
print("Exemplos de como os genres aparecem:")
sample_genres = df_prime_clean['genres'].dropna().sample(10).values
for i, genre in enumerate(sample_genres, 1):
    print(f"{i:2d}. {genre}")

PADR√ïES E ESTRUTURA DOS GENRES
Exemplos de como os genres aparecem:
 1. Adventure, Animation, Family
 2. Adventure, Comedy, Horror
 3. Comedy
 4. Crime
 5. Drama, Horror
 6. Action, Adventure, Comedy
 7. Adventure
 8. Drama
 9. Action, Thriller, War
10. Drama, Family

In [34]:
# Fun√ß√£o para extrair genres individuais
def extract_individual_genres(df_prime_clean):
    """Extrai todos os genres individuais de uma coluna que pode conter m√∫ltiplos genres"""
    all_genres = []
    
    for genres_str in df_prime_clean['genres'].dropna():
        # Remove espa√ßos e divide por v√≠rgulas (assumindo que √© o separador mais comum)
        if pd.notna(genres_str):
            # Tratamento flex√≠vel para diferentes separadores
            genres_list = re.split(r'[,;|]', str(genres_str))
            # Limpa e adiciona √† lista
            clean_genres = [genre.strip() for genre in genres_list if genre.strip()]
            all_genres.extend(clean_genres)
    
    return all_genres

In [35]:
# Extraindo todos os genres individuais
individual_genres = extract_individual_genres(df_prime_clean)

In [36]:
# Contando frequencias
genre_counts = Counter(individual_genres)
print(f"Total de genres √∫nicos encontrados: {len(genre_counts)}")
print(f"Total de ocorr√™ncias de genres: {sum(genre_counts.values())}")

Total de genres √∫nicos encontrados: 38
Total de ocorr√™ncias de genres: 142834

In [37]:
# TOP GENRES MAIS POPULARES
print("\n TOP 20 GENRES MAIS POPULARES")
top_genres = genre_counts.most_common(20)
for i, (genre, count) in enumerate(top_genres, 1):
    percentage = (count / sum(genre_counts.values())) * 100
    print(f"{i:2d}. {genre:<25} | {count:>6} ocorr√™ncias ({percentage:>5.2f}%)")

 TOP 20 GENRES MAIS POPULARES
 1. Drama                     |  30582 ocorr√™ncias (21.41%)
 2. Comedy                    |  17523 ocorr√™ncias (12.27%)
 3. Action                    |  10609 ocorr√™ncias ( 7.43%)
 4. Documentary               |   9719 ocorr√™ncias ( 6.80%)
 5. Thriller                  |   9183 ocorr√™ncias ( 6.43%)
 6. Horror                    |   8254 ocorr√™ncias ( 5.78%)
 7. Crime                     |   8063 ocorr√™ncias ( 5.65%)
 8. Romance                   |   7841 ocorr√™ncias ( 5.49%)
 9. Adventure                 |   6346 ocorr√™ncias ( 4.44%)
10. Mystery                   |   4629 ocorr√™ncias ( 3.24%)
11. Family                    |   4086 ocorr√™ncias ( 2.86%)
12. Animation                 |   4081 ocorr√™ncias ( 2.86%)
13. Fantasy                   |   3042 ocorr√™ncias ( 2.13%)
14. Sci-Fi                    |   2758 ocorr√™ncias ( 1.93%)
15. Biography                 |   2485 ocorr√™ncias ( 1.74%)
16. History                   |   2332 ocorr√™ncias ( 1.63%)
17. N√£o informado             |   2100 ocorr√™ncias ( 1.47%)
18. Music                     |   1884 ocorr√™ncias ( 1.32%)
19. Western                   |   1360 ocorr√™ncias ( 0.95%)
20. War                       |   1257 ocorr√™ncias ( 0.88%)

In [38]:
df_prime_clean.to_csv('data_prime_video_clean.csv', index=False)