In [ ]:
%pip install pandas
%pip install numpy

In [2]:
import pandas as pd
import numpy as np
import re
from collections import Counter

In [3]:
df_hbo = pd.read_csv("C:/Users/nise_/OneDrive/Documentos/Digital College/Python/DA_18/streaming/Dados/data_hbo_max.csv")

In [4]:
df_hbo

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1251651.0,NaN
1,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,215816.0,NaN
2,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,454694.0,NaN
3,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1137227.0,NaN
4,2001: A Space Odyssey,movie,"Adventure, Sci-Fi",1968.0,tt0062622,8.3,754036.0,NaN
...,...,...,...,...,...,...,...,...
10221,The House That Dragons Built,tv,Documentary,2022.0,tt26761151,8.1,235.0,NaN
10222,NaN,tv,Reality,2025.0,NaN,NaN,NaN,NaN
10223,Toxic,tv,Documentary,2025.0,tt36495586,6.2,79.0,NaN
10224,The Bakersfield 3: A Tale of Murder and Mother...,tv,Documentary,2025.0,tt36926665,6.3,112.0,NaN
10225,NaN,tv,"Documentary, Crime, Mystery",2025.0,NaN,NaN,NaN,NaN

In [5]:
df_hbo.describe()

        releaseYear  imdbAverageRating  imdbNumVotes
count  10198.000000        9089.000000  9.089000e+03
mean    2012.058051           6.693157  5.284668e+04
std       17.017881           1.041654  1.653684e+05
min     1898.000000           1.200000  5.000000e+00
25%     2010.000000           6.100000  1.960000e+02
50%     2018.000000           6.700000  1.354000e+03
75%     2022.000000           7.400000  2.058300e+04
max     2027.000000           9.800000  3.046940e+06

In [6]:
df_hbo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10226 entries, 0 to 10225
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               9576 non-null   object
 1   type                10226 non-null  object
 2   genres              9904 non-null   object
 3   releaseYear         10198 non-null  float64
 4   imdbId              9217 non-null   object
 5   imdbAverageRating   9089 non-null   float64
 6   imdbNumVotes        9089 non-null   float64
 7   availableCountries  68 non-null     object
dtypes: float64(3), object(5)
memory usage: 639.3+ KB

In [7]:
df_hbo.isnull().sum()

title                   650
type                      0
genres                  322
releaseYear              28
imdbId                 1009
imdbAverageRating      1137
imdbNumVotes           1137
availableCountries    10158
dtype: int64

In [8]:
#### ======== Tratando as duplicatas ===========

In [9]:
df_hbo.duplicated().sum()

np.int64(441)

In [10]:
# Verificar colunas com valores duplicados
for col in df_hbo.columns:
    num_dups = df_hbo.duplicated(subset=[col]).sum()
    if num_dups > 0:
        print(f"Coluna '{col}' possui {num_dups} valores duplicados.")

Coluna 'title' possui 863 valores duplicados.
Coluna 'type' possui 10224 valores duplicados.
Coluna 'genres' possui 9552 valores duplicados.
Coluna 'releaseYear' possui 10107 valores duplicados.
Coluna 'imdbId' possui 1017 valores duplicados.
Coluna 'imdbAverageRating' possui 10143 valores duplicados.
Coluna 'imdbNumVotes' possui 4822 valores duplicados.
Coluna 'availableCountries' possui 10186 valores duplicados.

In [11]:
df_hbo = df_hbo.drop_duplicates()

In [12]:
df_hbo.dropna(subset=['title'])

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1251651.0,NaN
1,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,215816.0,NaN
2,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,454694.0,NaN
3,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1137227.0,NaN
4,2001: A Space Odyssey,movie,"Adventure, Sci-Fi",1968.0,tt0062622,8.3,754036.0,NaN
...,...,...,...,...,...,...,...,...
10219,Lockerbie: The Bombing of Pan Am 103,tv,"Crime, Documentary, History",2025.0,tt35422524,7.4,91.0,NaN
10220,Castle Impossible,tv,Reality-TV,2025.0,tt36503976,7.9,94.0,NaN
10221,The House That Dragons Built,tv,Documentary,2022.0,tt26761151,8.1,235.0,NaN
10223,Toxic,tv,Documentary,2025.0,tt36495586,6.2,79.0,NaN
10224,The Bakersfield 3: A Tale of Murder and Mother...,tv,Documentary,2025.0,tt36926665,6.3,112.0,NaN

In [13]:
#preencher os NaN de genres com "NÃ£o informado"
df_hbo['genres'] = df_hbo['genres'].fillna('NÃ£o informado')

C:\Users\nise_\AppData\Local\Temp\ipykernel_92860\1562701037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hbo['genres'] = df_hbo['genres'].fillna('NÃ£o informado')

In [14]:
# os NaN em imdbId e imdbAverageRating podem ser um problema se for analisar a avaliaÃ§Ã£o dos filmes, entÃ£o preciso ver se o NaN em um coincide com NaN na outra

# Investigar a situaÃ§Ã£o dos NaN
print("Registros sem imdbId:", df_hbo['imdbId'].isna().sum())
print("Registros sem rating:", df_hbo['imdbAverageRating'].isna().sum())

# Ver se NaN em imdbId implica em NaN em rating
mask_sem_id = df_hbo['imdbId'].isna()
print("Dos que nÃ£o tÃªm ID, quantos tambÃ©m nÃ£o tÃªm rating:", 
      df_hbo[mask_sem_id]['imdbAverageRating'].isna().sum())

Registros sem imdbId: 570
Registros sem rating: 698
Dos que nÃ£o tÃªm ID, quantos tambÃ©m nÃ£o tÃªm rating: 570

In [15]:
# Investigar os casos com ID mas sem avaliaÃ§Ã£o
tem_id_sem_rating = df_hbo['imdbId'].notna() & df_hbo['imdbAverageRating'].isna()
print("Registros com ID mas sem avaliaÃ§Ã£o:", tem_id_sem_rating.sum())

# Ver alguns exemplos desses casos
print("\nExemplos de conteÃºdo com ID mas sem avaliaÃ§Ã£o:")
exemplos = df_hbo[tem_id_sem_rating][['title', 'imdbId', 'releaseYear']].head()
print(exemplos)

Registros com ID mas sem avaliaÃ§Ã£o: 128

Exemplos de conteÃºdo com ID mas sem avaliaÃ§Ã£o:
                                      title      imdbId  releaseYear
2831                             Imparables   tt2456834       2014.0
2984                         American Biker   tt4849302       2015.0
3663                              Impromptu  tt27626121       2018.0
3806     Rosa & Dara a jejich dobrodruzstvÃ­   tt6419668       2015.0
4020  Mimi & LÃ­za: Christmas Lights Mystery  tt10499512       2018.0

In [16]:
#preencher os NaN de imdbid com "NÃ£o informado"
df_hbo['imdbId'] = df_hbo['imdbId'].fillna('NÃ£o informado')

C:\Users\nise_\AppData\Local\Temp\ipykernel_92860\17091754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hbo['imdbId'] = df_hbo['imdbId'].fillna('NÃ£o informado')

In [17]:
def impute_ratings_by_genre_decade(df_hbo):
    """
    Imputa valores NaN de imdbAverageRating usando mediana por gÃªnero primÃ¡rio + dÃ©cada
    
    Args:
        df: DataFrame com colunas 'genres', 'releaseYear', 'imdbAverageRating'
    
    Returns:
        DataFrame com ratings imputados e colunas adicionais para rastreamento
    """
    # Extrair gÃªnero primÃ¡rio (primeiro da lista)
    df_hbo['primaryGenre'] = df_hbo['genres'].fillna('Unknown').str.split(',').str[0].str.strip()

    # Extrair dÃ©cada
    df_hbo['decade'] = (df_hbo['releaseYear'] // 10) * 10

    # Flag para indicar se tinha rating original
    df_hbo['hasOriginalRating'] = df_hbo['imdbAverageRating'].notna()

    # Calcular medianas por gÃªnero + dÃ©cada (apenas filmes COM rating)
    films_with_rating = df_hbo[df_hbo['hasOriginalRating']]
    
    medians_genre_decade = (films_with_rating.groupby(['primaryGenre', 'decade'])['imdbAverageRating'].agg(['median', 'count']).reset_index())

    # Calcular medianas sÃ³ por gÃªnero (fallback)
    medians_genre = (films_with_rating.groupby('primaryGenre')['imdbAverageRating'].median().reset_index())
    
    # Mediana global (Ãºltimo recurso)
    global_median = films_with_rating['imdbAverageRating'].median()

    # FunÃ§Ã£o aninhada para imputar um filme especÃ­fico
    def impute_single_film(row):
        if row['hasOriginalRating']:
            return pd.Series({
                'imdbAverageRating': row['imdbAverageRating'],
                'ratingImputed': False,
                'imputationSource': 'original'
            })
        
        # Tentar gÃªnero + dÃ©cada primeiro
        genre_decade_match = medians_genre_decade[
            (medians_genre_decade['primaryGenre'] == row['primaryGenre']) & 
            (medians_genre_decade['decade'] == row['decade'])
        ]
        
        if not genre_decade_match.empty:
            median_val = genre_decade_match.iloc[0]['median']
            count = genre_decade_match.iloc[0]['count']
            return pd.Series({
                'imdbAverageRating': median_val,
                'ratingImputed': True,
                'imputationSource': f"{row['primaryGenre']} {int(row['decade'])}s ({count} filmes)"
            })
        
        # Fallback: sÃ³ gÃªnero
        genre_match = medians_genre[medians_genre['primaryGenre'] == row['primaryGenre']]
        
        if not genre_match.empty:
            median_val = genre_match.iloc[0]['imdbAverageRating']
            return pd.Series({
                'imdbAverageRating': median_val,
                'ratingImputed': True,
                'imputationSource': f"{row['primaryGenre']} geral"
            })
        
        # Ãšltimo recurso: mediana global
        return pd.Series({
            'imdbAverageRating': global_median,
            'ratingImputed': True,
            'imputationSource': "mediana global"
        })

    # Aplicar imputaÃ§Ã£o
    imputation_results = df_hbo.apply(impute_single_film, axis=1)

    # Combinar resultados
    df_hbo['imdbAverageRating'] = imputation_results['imdbAverageRating']
    df_hbo['ratingImputed'] = imputation_results['ratingImputed']
    df_hbo['imputationSource'] = imputation_results['imputationSource']

    return df_hbo, medians_genre_decade, global_median

In [ ]:
# APLICAR A IMPUTAÃ‡ÃƒO
df_imputed, medians_table, global_median = impute_ratings_by_genre_decade(df_hbo)

In [19]:
imputed_count = df_imputed['ratingImputed'].sum()
print(f"Valores imputados: {imputed_count}")

Valores imputados: 698

In [20]:
# Mostrar alguns exemplos organizados
for i, (_, filme) in enumerate(df_imputed.head(8).iterrows()):
    print(f"{i+1:2d}. \"{filme['title']}\" ({int(filme['releaseYear'])})")
    print(f"    GÃªnero: {filme['primaryGenre']}")
    print(f"    AvaliaÃ§Ã£o imputada: {filme['imdbAverageRating']:.1f}")
    print(f"    Fonte: {filme['imputationSource']}")
    print()

 1. "Kill Bill: Vol. 1" (2003)
    GÃªnero: Action
    AvaliaÃ§Ã£o imputada: 8.2
    Fonte: original

 2. "Jarhead" (2005)
    GÃªnero: Biography
    AvaliaÃ§Ã£o imputada: 7.0
    Fonte: original

 3. "Unforgiven" (1992)
    GÃªnero: Drama
    AvaliaÃ§Ã£o imputada: 8.2
    Fonte: original

 4. "Eternal Sunshine of the Spotless Mind" (2004)
    GÃªnero: Drama
    AvaliaÃ§Ã£o imputada: 8.3
    Fonte: original

 5. "2001: A Space Odyssey" (1968)
    GÃªnero: Adventure
    AvaliaÃ§Ã£o imputada: 8.3
    Fonte: original

 6. "Absolute Power" (1997)
    GÃªnero: Action
    AvaliaÃ§Ã£o imputada: 6.7
    Fonte: original

 7. "Billy Elliot" (2000)
    GÃªnero: Drama
    AvaliaÃ§Ã£o imputada: 7.7
    Fonte: original

 8. "American History X" (1998)
    GÃªnero: Crime
    AvaliaÃ§Ã£o imputada: 8.5
    Fonte: original

In [21]:
# Axis 1 para colunas, axis 0 para linhas
df_hbo = df_hbo.drop(['availableCountries'], axis=1)

In [22]:
df_hbo.isnull().sum()

title                211
type                   0
genres                 0
releaseYear            9
imdbId                 0
imdbAverageRating      0
imdbNumVotes         698
primaryGenre           0
decade                 9
hasOriginalRating      0
ratingImputed          0
imputationSource       0
dtype: int64

In [23]:
# Ver qual Ã© o filme problemÃ¡tico
nulls_year = df_hbo[df_hbo['releaseYear'].isna()]
print(nulls_year[['title', 'type', 'genres', 'imdbId', 'imdbAverageRating']])

                               title type         genres         imdbId  \
6778                             NaN   tv    Documentary  NÃ£o informado
6786                             NaN   tv  NÃ£o informado  NÃ£o informado
6790                             NaN   tv  NÃ£o informado  NÃ£o informado
6983                             NaN   tv          Drama  NÃ£o informado
9679                             NaN   tv  Comedy, Drama  NÃ£o informado
9686                             NaN   tv      Animation  NÃ£o informado
9710                             NaN   tv        Reality  NÃ£o informado
10062  Untitled One Tree Hill Sequel   tv          Drama     tt33306368
10095                            NaN   tv           Kids  NÃ£o informado

       imdbAverageRating
6778                7.10
6786                6.80
6790                6.80
6983                6.75
9679                6.50
9686                7.00
9710                7.35
10062               6.75
10095               6.70

In [24]:
# Nem lanÃ§ado foi ainda...vai de drop
df_hbo = df_hbo.dropna(subset=['releaseYear'])

In [25]:
df_hbo.isnull().sum()

title                203
type                   0
genres                 0
releaseYear            0
imdbId                 0
imdbAverageRating      0
imdbNumVotes         689
primaryGenre           0
decade                 0
hasOriginalRating      0
ratingImputed          0
imputationSource       0
dtype: int64

In [26]:
#### sÃ³ depois de remover todos os NaN Ã© que posso converter o releaseYear para int
df_hbo['releaseYear'] = df_hbo['releaseYear'].astype(int)

In [27]:
df_hbo['releaseYear'].dtype

dtype('int64')

In [28]:
# ==========================================
# LIMPEZA FINAL - REMOVER BAGAGEM TÃ‰CNICA
# ==========================================

# 1. TRATAR imdbNumVotes para filmes imputados
print("ðŸ”§ TRATANDO imdbNumVotes PARA FILMES IMPUTADOS")
print("=" * 50)

# Para filmes com rating imputado, vamos usar a mediana de votos do mesmo gÃªnero/dÃ©cada
films_with_votes = df_hbo[df_hbo['imdbNumVotes'].notna()]

# Calcular mediana de votos por gÃªnero primÃ¡rio
median_votes_by_genre = (films_with_votes
                        .groupby('primaryGenre')['imdbNumVotes']
                        .median()
                        .to_dict())

# Mediana global como fallback
global_median_votes = films_with_votes['imdbNumVotes'].median()

# FunÃ§Ã£o para imputar votos
def impute_votes(row):
    if pd.notna(row['imdbNumVotes']):
        return row['imdbNumVotes']
    
    # Se tem rating imputado, usar mediana do gÃªnero
    if row['ratingImputed']:
        genre_median = median_votes_by_genre.get(row['primaryGenre'])
        if genre_median:
            return genre_median
        else:
            return global_median_votes
    
    return row['imdbNumVotes']

ðŸ”§ TRATANDO imdbNumVotes PARA FILMES IMPUTADOS
==================================================

In [29]:
# Aplicar imputaÃ§Ã£o de votos
df_hbo['imdbNumVotes'] = df_hbo.apply(impute_votes, axis=1)

In [30]:
df_hbo.isnull().sum()

title                203
type                   0
genres                 0
releaseYear            0
imdbId                 0
imdbAverageRating      0
imdbNumVotes           0
primaryGenre           0
decade                 0
hasOriginalRating      0
ratingImputed          0
imputationSource       0
dtype: int64

In [31]:
df_hbo['imdbNumVotes'] = df_hbo['imdbNumVotes'].astype(int)
# Verificar se a conversÃ£o foi bem-sucedida
print(df_hbo.dtypes)

title                 object
type                  object
genres                object
releaseYear            int64
imdbId                object
imdbAverageRating    float64
imdbNumVotes           int64
primaryGenre          object
decade               float64
hasOriginalRating       bool
ratingImputed           bool
imputationSource      object
dtype: object

In [32]:
# CRIAR DATASET LIMPO (apenas colunas essenciais) e removendo as colunas criadas para o tratamento
print(f"\nðŸ“‚ CRIANDO DATASET LIMPO")
print("=" * 30)

colunas_essenciais = [
    'title', 
    'type', 
    'genres', 
    'releaseYear', 
    'imdbId', 
    'imdbAverageRating', 
    'imdbNumVotes'
]

df_hbo_clean = df_hbo[colunas_essenciais].copy()

print(f"Forma final do dataset: {df_hbo_clean.shape}")
print(f"Colunas finais: {list(df_hbo_clean.columns)}")

ðŸ“‚ CRIANDO DATASET LIMPO
==============================
Forma final do dataset: (9776, 7)
Colunas finais: ['title', 'type', 'genres', 'releaseYear', 'imdbId', 'imdbAverageRating', 'imdbNumVotes']

In [33]:
# VERIFICAÃ‡ÃƒO FINAL
print(f"\nâœ… VERIFICAÃ‡ÃƒO FINAL")
print("=" * 35)

print("Valores nulos por coluna:")
print(df_hbo_clean.isnull().sum())

print(f"\nTipos de dados:")
print(df_hbo_clean.dtypes)

âœ… VERIFICAÃ‡ÃƒO FINAL
===================================
Valores nulos por coluna:
title                203
type                   0
genres                 0
releaseYear            0
imdbId                 0
imdbAverageRating      0
imdbNumVotes           0
dtype: int64

Tipos de dados:
title                 object
type                  object
genres                object
releaseYear            int64
imdbId                object
imdbAverageRating    float64
imdbNumVotes           int64
dtype: object

# ======= ExploraÃ§Ã£o Tipo e GÃªnero=========

In [34]:
tipos_unicos = df_hbo_clean['type'].unique()
print("Tipos Ãºnicos na coluna 'type':", tipos_unicos)

Tipos Ãºnicos na coluna 'type': ['movie' 'tv']

In [35]:
# Contando quantas produÃ§Ãµes existem de cada tipo
contagem_tipos = df_hbo_clean['type'].value_counts()
print(f"\nDistribuiÃ§Ã£o por tipo:")
for tipo, quantidade in contagem_tipos.items():
    percentual = (quantidade / len(df_hbo_clean)) * 100
    print(f"{tipo}: {quantidade} produÃ§Ãµes ({percentual:.1f}%)")

DistribuiÃ§Ã£o por tipo:
movie: 6488 produÃ§Ãµes (66.4%)
tv: 3288 produÃ§Ãµes (33.6%)

In [36]:
# EXPLORANDO OS PADRÃ•ES DOS GENRES
print("\nPADRÃ•ES E ESTRUTURA DOS GENRES")
# Amostras aleatÃ³rias para entender o formato
print("Exemplos de como os genres aparecem:")
sample_genres = df_hbo_clean['genres'].dropna().sample(10).values
for i, genre in enumerate(sample_genres, 1):
    print(f"{i:2d}. {genre}")

PADRÃ•ES E ESTRUTURA DOS GENRES
Exemplos de como os genres aparecem:
 1. Drama, Horror, Mystery
 2. Comedy, Drama, Musical
 3. NÃ£o informado
 4. Biography, Drama, History
 5. Horror
 6. Drama, Thriller
 7. Reality-TV
 8. Drama, Romance, War
 9. Action, Fantasy, Thriller
10. Sport

In [37]:
# FunÃ§Ã£o para extrair genres individuais
def extract_individual_genres(df_hbo_clean):
    """Extrai todos os genres individuais de uma coluna que pode conter mÃºltiplos genres"""
    all_genres = []
    
    for genres_str in df_hbo_clean['genres'].dropna():
        # Remove espaÃ§os e divide por vÃ­rgulas (assumindo que Ã© o separador mais comum)
        if pd.notna(genres_str):
            # Tratamento flexÃ­vel para diferentes separadores
            genres_list = re.split(r'[,;|]', str(genres_str))
            # Limpa e adiciona Ã  lista
            clean_genres = [genre.strip() for genre in genres_list if genre.strip()]
            all_genres.extend(clean_genres)
    
    return all_genres

In [38]:
# Extraindo todos os genres individuais
individual_genres = extract_individual_genres(df_hbo_clean)

In [39]:
# Contando frequencias
genre_counts = Counter(individual_genres)
print(f"Total de genres Ãºnicos encontrados: {len(genre_counts)}")
print(f"Total de ocorrÃªncias de genres: {sum(genre_counts.values())}")

Total de genres Ãºnicos encontrados: 38
Total de ocorrÃªncias de genres: 19696

In [40]:
# TOP GENRES MAIS POPULARES
print("\n TOP 20 GENRES MAIS POPULARES")
top_genres = genre_counts.most_common(20)
for i, (genre, count) in enumerate(top_genres, 1):
    percentage = (count / sum(genre_counts.values())) * 100
    print(f"{i:2d}. {genre:<25} | {count:>6} ocorrÃªncias ({percentage:>5.2f}%)")

 TOP 20 GENRES MAIS POPULARES
 1. Drama                     |   3527 ocorrÃªncias (17.91%)
 2. Comedy                    |   2502 ocorrÃªncias (12.70%)
 3. Documentary               |   2004 ocorrÃªncias (10.17%)
 4. Crime                     |   1294 ocorrÃªncias ( 6.57%)
 5. Adventure                 |   1166 ocorrÃªncias ( 5.92%)
 6. Action                    |   1135 ocorrÃªncias ( 5.76%)
 7. Animation                 |    943 ocorrÃªncias ( 4.79%)
 8. Romance                   |    895 ocorrÃªncias ( 4.54%)
 9. Reality-TV                |    888 ocorrÃªncias ( 4.51%)
10. Thriller                  |    770 ocorrÃªncias ( 3.91%)
11. Mystery                   |    570 ocorrÃªncias ( 2.89%)
12. Biography                 |    533 ocorrÃªncias ( 2.71%)
13. Family                    |    508 ocorrÃªncias ( 2.58%)
14. Horror                    |    460 ocorrÃªncias ( 2.34%)
15. Fantasy                   |    403 ocorrÃªncias ( 2.05%)
16. History                   |    363 ocorrÃªncias ( 1.84%)
17. Sci-Fi                    |    294 ocorrÃªncias ( 1.49%)
18. Short                     |    225 ocorrÃªncias ( 1.14%)
19. Music                     |    219 ocorrÃªncias ( 1.11%)
20. Sport                     |    198 ocorrÃªncias ( 1.01%)

In [41]:
# Salva o DataFrame limpo
#df_hbo_clean.to_csv("data_hbo_clean.csv", index=False)